<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js">

</script>
  <form class="" action="/adminpanel" method="post">
    <input type="text" id="title" name="nameGroup" value="">
    <button type="button" id="submit" name="button">aaaaaaaa</button>
  </form>
  <div class="" id="AllUsers">


  <% list.forEach(function(element) { %>
    <div style="border:1px">
      <br><%= element.nameGroups %>

    </div>
     <% }); %>
  </div>
<script type="text/javascript">

  $('#submit').click(function() {
    var formData = {
      		title : $("#title").val()
      	}
        console.log(formData);
              alert('clicked')
              $.ajax({
                  url: "/adminpanel",
                  type: "POST",
                  dataType: "json",
                  data : JSON.stringify(formData),
                  contentType: "application/json",
                  cache: false,
                  timeout: 5000,
                  complete: function() {
                  },

                  success: function(data) {
                    console.log(data)
                    $("<div>"+data+"</div>").appendTo("#AllUsers")
                 },

                  error: function() {
                    console.log('process error');
                  },
                });
          })
</script>
